h3{
	font-size: 20px;
}
.makemeblack{
	background: black;
}
.makemeblue{
	background: blue;
}
.main-nav-left{
	width:24%;margin: 3%; height: 300px;background: grey;float: left;
}
.main-nav-left ul{
	padding: 15px;	
}
.main-nav-left ul li{
	font-size: 30px;	
}
.main-nav-left ul li.odd{
	font-size: 30px;	
}
.main-nav-left ul li.even{
	font-size: 20px;	
}

.home-right-wrap{
	width: 64%;margin: 3%; height: 300px;background: yellow;float: left;
}
.home-right-container{
	padding: 15px;
}